@use "variables" as v;

.footer{
   
    p{
        text-align: center;
        font-family: v.$fontTitle;
        color: v.$colorText;
        font-weight: bold;
        font-size: 1.6rem;
    }
   
}