@use "variables" as v;


*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: #e1e1e1;
    overflow-x: hidden;
}
h1{
    font-family: v.$fontTitle;
    font-size:  6rem;
    color: #fff;
    text-shadow: 0 0 1px;
}
h2,h3{
    font-family: v.$fontHeaders;
    color: v.$colorText;
}
p,button, label{
    font-family: v.$primaryFont;
    font-size: 1.8rem;
    color: v.$colorText;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 2rem;
    font-weight: bold;
}


.btn {
    border: none;
    font-family: v.$primaryFont;
    outline: none;
    background-color: v.$colorWidget;
    color: v.$colorText;  
    padding: 1rem 4rem;  
    border-radius: 5px;  
    font-weight: 700;  
    text-transform: uppercase;  
    cursor: pointer;  
    transition: background-color,color,transform 0.5s ease;  
    text-shadow: 0 0 1px #000;
    &:hover {
        background-color: v.$colorLabel;  
        color: #fff;
        transform: scale(1.05);
    }
}
.container{
    width: 120rem;
    max-width: 95%;
    margin: 0 auto;
}
.error{
    font-size: 1.4rem;
    color: unset;
    color: red;
}

.notification{
    position: fixed;
    z-index: 9999;
    background-color: v.$colorWidget;
    color: #fff;
    box-shadow: 0 0 5px #000;
    top: 0;
    right: 0;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    text-shadow: 0 0 5px #000;
    font-size: 1.6rem;
}
