@use "variables" as v;

@mixin flex($justify, $gap: 0){
    display: flex;
    align-items: center;
    justify-content: $justify;
    gap: $gap;
}

@mixin modal($widht,$height, $padding){

    display: none;
    position: fixed;
    background-color: #fff;
    width: $widht;
    max-width: 95%;
    height: $height;
    max-height: $height;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    z-index: 999999;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    padding: $padding;
    opacity: 0;
    animation: appear 300ms forwards ease-in-out, expand 400ms forwards ease-in-out;
    overflow-x: hidden;

    
  
}

@mixin btn(){
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;  
    padding:1rem 2rem;  
    border-radius: 5px;  
    font-weight: 700;  
    text-transform: uppercase;  
    cursor: pointer;  
    transition: background-color,font-weight,text-shadow,transform 0.5s ease;  
    text-shadow: 0 0 1px #000;
    
    &:hover {
        background-color: #000;  
        color: #fff;
        transform: scale(1.05);
        font-weight: bold;
        text-shadow: 0 0 5px #000;
        box-shadow: 0 0 10px 2px #fff;
    }
}

@mixin desktop() {
    @media (max-width: v.$desktop) {
        @content;  
    }
}


@mixin tablet() {
    @media (max-width: v.$tablet) {
        @content;  
    }
}

@mixin phone() {
    @media (max-width: v.$phone) {
        @content;  
    }
}

@mixin smallPhone(){
    @media (max-width: v.$smallPhone) {
        @content;  
    }
}
