@use "variables" as v;
@use "mixin" as m;

.modal__edit{
    @include m.modal(60rem,auto,2rem);
    padding-bottom: 6rem;
    
    .form__edit{
        overflow-y: auto;
        height: auto;
        max-height: 50rem;
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
        margin-top: 1rem;
        padding-bottom: 2rem;

        fieldset{  
            padding: 1rem;
            display: flex;
            flex-direction: column; 
            align-items: flex-start;
            justify-content: center;
            gap: 1rem;
            border: 1px solid v.$colorWidget;
            width: 100%;
          
        }
    
        legend {
            position: relative;
            font-size: 3rem;
            font-family: v.$fontTitle;
            font-weight: bold;
            padding: 0 3rem;
            color: transparent; 
            background: linear-gradient(to right, #fff 0%, #fff 30%, v.$colorWidget 100%);
            background-clip: text;  
        }
        
        legend::before {
            content: '';  
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: v.$primaryColor;  
            z-index: -1; 
        }
        
        
        &__field{
            display: flex;
            flex-direction: column;
            gap: .5rem;
            width: 100%;
            
            select,input{
                cursor: pointer;
            }
            
          
            &__duedate{
                width: 50%;
                max-width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 2rem;
            }

            &__notes{
              width: 100%;

              &__head{
                display: flex;
                gap: 1rem;
              }
            }

            &__status{
                display: flex;

            }

            
        }

        &__property{
            font-size: 1.6rem;
            font-family: v.$fontHeaders;
            color: v.$colorLabel;
            pointer-events: none;
            
            &::after{
                content: ":";
            }
            cursor: pointer;
        }

        &__value{
            font-size: 1.4rem;
            font-family: v.$primaryFont;
            border: none;
            outline: none;
            resize: none;
            appearance: none;
            overflow: hidden;
            background-color: transparent;

          
            &__select{
                width: 8rem;
                max-width: 8rem;
            }

            &__date{
                pointer-events: none;
            }
            
            &__notes__defaut{
                pointer-events: none;
            }

           &__note{
            border-bottom: 1px dashed v.$primaryColor;
            margin: 2rem 0;
            padding-bottom: 1rem;
            
            &:first-child{
                margin: 0;
            }
            textarea{
                width: 100%;  
            }
           }
        }

        &__delete__duedate, &__notes__icon{
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            filter:brightness(.6);

            &:hover{
                transform: scale(1.1);
                filter:brightness(.4);
            }
        }

    }

    .form__edit__btn{
        @include m.flex(space-between);
        position: absolute;
        z-index: 99999999999999;
        bottom: 0;
        left: 0;
        padding: 1rem;
        width: 100%;
        background-color: v.$primaryColor;
        box-shadow: 0 -3px 15px #444;
       

        button:disabled{
            background-color: #9c9b9b;  
            color: #ccc;  
            cursor: not-allowed;
            transform: none;
        }

        p{
            font-size: 1.2rem;
            font-family: v.$fontHeaders;
            color: #fff;
        }
    }
    
}
