@use "variables" as v;

.active-menu{
    display: flex;
}

.disabled{
    display: none;
}

.active{
    display: block;
}

.btn__modify__status{
    background-color: #ffc400;
    
    &:hover{
        background-color: #aa7d02;
    }
}

.btn__priority__hight{
    background-color: #fc412c;

    &:hover{
        background-color: #bb281e;
    }
}

.btn__priority__medium{
    background-color: #ffae19;

    &:hover{
        background-color: #e6a900;
    }
}

.btn__priority__low{
    background-color: #2196F3;

    &:hover{
        background-color: #106db9;
    }
}

.modal__anim__close{
    animation: dissapearModal 300ms ease-in-out;
}

.default__text{
    position: absolute;
    top: 70%;
    text-align: center;
    font-family: v.$fontTitle;
    font-weight: bold;
    font-size: 2.2rem;
    opacity: 0;
    animation: appear 500ms forwards ease-in-out;
    width: 100%;
}

.disabled__widget{
    pointer-events: none;
    opacity: .05;
}

.appear{
    animation: appear 1000ms forwards ease-in-out;
}

.disappear{
    animation: dissapear 1000ms forwards ease-in-out;
}
.disabled__input{
    pointer-events: none;
}
.appearNote{
    animation: appearNote 1s ease-in-out;
}

.update__modal__edit{
    background-image: linear-gradient(to bottom, #727272 0%, rgba(0, 0, 0, 0.2) 100%);
}





