
$primaryFont: "Roboto", "Lato", sans-serif;
$fontHeaders: "Lato", "Roboto", sans-serif;
$fontTitle: "Indie Flower", "Roboto", sans-serif;
$primaryColor:   #1b1b1b;
$colorText: #181717;
$margin: 5rem;
$colorWidget: #42fdaf;
$colorBtnConfirm: #2196F3;
$colorBtnCancel: #F44336;
$colorLabel: #0e5035;
$desktop: 1200px;
$tablet: 768px;
$phone: 500px;